#menu-opts
  = link_to_function 'Toggle more options', %($('.opts').toggle())
%h1= link_to 'Time Tracula', resource(:activities)

#activities
  #activities_list
    = partial :activities 
  

  = form_for( Activity.new, :action => url(:activities) ) do      
    = select( :category_id, :collection => Category.all, :text_method => :name, :value_method => :id )
    = text_field :blurb
    = check_box :name => :clock_in, :checked => true 
    clock in
    = submit 'Add'

%hr/

= link_to_function 'Toggle category tools', %($('#category-tools').toggle())

#category-tools{:style => 'display:none'}
  = partial 'categories/tools'





